
/*General: disable arrows next to number inputs
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}




/*color scheme*/
.primary-color {
    background-color: #66bb6a;
}

.light-color {
    background-color: #98ee99;
}

.dark-color {
    background-color: #338a3e;
}

/*navbar*/
.navbar .nav-icon {
    padding-right: 5px;
}

/*container*/
.container {
    padding: 25px 10px 10px;

}

/*new-account*/

.new-account .form-row{
    overflow: hidden;
    padding:5px 0px 10px;
}

.form-row2{
    padding: 15px 0px 10px;
}

.new-account .text{
    width: 150px;
    float: left;
}
.new-account .field{
    float: left;
}
.cards{
    margin-bottom: 20px;
}

.edit-btn{
    float: right;
}

.radioo{
    display: inline;
    width: 1%;
    flex-wrap: wrap;
    padding-right: 5px;
}

/* Confirm page*/

#confirm .cards{
    margin-bottom: 20px;
}

#confirm .header-div {
    line-height: 38px;
}

#confirm .header {
    display:inline-block;
}

#confirm .buttons {
    margin-top: 5px;
    margin-right: 5px;
}

#confirm .message {
    width: 60%
}


/*account_overview*/

.account-table {
    padding: 10px;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.account-icon {
    padding-right: 5px;
}

.btn-open-account {
    float: right;
}

.account-header {
    display:inline-block;
}

.account-header-div {
    line-height: 38px;
}



/*for several pages*/

#signUpPage .grid,
#signupConfirmPage .grid  {
    display: grid;
    grid-gap: 10px 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


#signUpPage .errors,
#transferPage .errors,
#transferConfirmPage .errors {
    color: red;
    position: relative;
    top: -5px;
    margin-bottom: -200px;
}

#signUpPage label,
#transferPage label,
#transferConfirmPage label {
    width: 130px;
}

#signUpPage .form-group,
#transferPage .form-group {
    margin-bottom: 30px;
}

#signUpPage .italic,
#accountPage .italic,
#transferPage .italic {
    font-style: italic;
}



/*for signup confirm page */

#signupConfirmPage .subheader {
    font-weight: bold;
}

#signupConfirmPage {
    font-size: 140%;
}

#signupConfirmPage .buttons {
    margin-top: 10px;
}


/** for account page **/

#accountPage strong {
    font-weight: bold;
}

#accountPage #legenda {
    display: flex;
    font-size: 120%;
    position: relative;
    top: 22px;
}

#accountPage #accountData p {
    line-height: 70%;
}

#accountPage #transactionList {
    font-family: monospace;
    font-size: 120%;
}


/*for transfer page*/

.transfer-account-data {
    line-height: 200%;
}


/*for transfer confirm page*/

#transferConfirmPage .form-group {
    margin-bottom: 10px;
}

#transferConfirmPage .buttons {
    position: relative;
    top: 30px;
}

