.primary-color {
    background-color: #66bb6a;
}

.light-color {
    background-color: #98ee99;
}

.dark-color {
    background-color: #338a3e;
}

.new-account {
    margin-top: 20em;

}

/*account_overview*/

.account-table {
    padding: 10px;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.account-icon {
    padding-right: 5px;
}

.btn-open-account {
    float: right;
}

.account-header {
    display:inline-block;
}

.account-header-div {
    line-height: 38px;
}


/*for sign-up page*/


/*for signup confirm page */


/*for transfer page*/

#transferPage label {
    width: 130px;
}

#transferPage .errors {
    color: red;
    position: relative;
    top: -5px;
    margin-bottom: -200px;
}

#transferPage .form-group {
    margin-bottom: 30px;
}

#transferPage .buttons {
    position: relative;
    top: 20px;
}

#transferPage #inputTransferData {
    margin-top: 30px;
}

#transferPage #accountData p {
    line-height: 70%;
}



