

.primary-color {
    background-color: #66bb6a;
}

.light-color {
    background-color: #98ee99;
}

.dark-color {
    background-color: #338a3e;
}

/*new-account*/
.container {
    padding: 25px 10px 10px;
}

.new-account h1{
    margin: 0px 0px 25px;
}

.new-account p{
    margin: 0px 0px 25px;
}

.new-account .table{
    display: table;
}
.new-account .row{
    display: table-row;
}
.new-account .label{
    width: 1%;
    white-space: nowrap;
    display: table-cell;
    margin: 0px 10px 30px;
}
.new-account .field{
    width: 100%;
    display: table-cell;
    margin: 0px 10px 30px;
}
.new-account .button{
    margin-right: 5px;
}

/*account_overview*/

.account-table {
    padding: 10px;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.account-icon {
    padding-right: 5px;
}

.btn-open-account {
    float: right;
}

.account-header {
    display:inline-block;
}

.account-header-div {
    line-height: 38px;
}


/*for sign-up page*/


/*for signup confirm page */


