<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- external sheet doesnt work-->
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>


</head>
<body>
    <h1 id="pageTitle">Vul uw gegevens in en word klant bij DIRK!</h1>

    <form method="POST" th:object="${customerBean}" th:action="@{customerCompleted}">

        <table>
            <tr>
                <td>
                    <p>Achternaam</p>
                </td>
                <td>
                    <input type="text" name="surname" th:field="*{surname}" required>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Tussenvoegsels</p>
                </td>
                <td>
                    <input type="text" name="inserts" th:field="*{inserts}">
                </td>
            </tr>

            <tr>
                <td>
                    <p>Voorletters</p>
                </td>
                <td>
                    <input type="text" name="initials" th:field="*{initials}" required>
                </td>
            </tr>

            <tr><td><p></p></td></tr> <!-- tussenregel -->
            <tr>
                <td>
                    <p>Straat</p>
                </td>
                <td>
                    <input type="text" name="street" th:field="*{street}" required>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Huisnummer</p>
                </td>
                <td>
                    <input type="number" name="houseNumber" th:field="*{houseNumber}" required>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Toevoegingen</p>
                </td>
                <td>
                    <input type="text" name="affixes" th:field="*{affixes}">
                </td>
            </tr>

            <tr>
                <td>
                    <p>Postcode</p>
                </td>
                <td>
                    <input type="text" name="zipCode" th:field="*{zipCode}" required>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Plaats</p>
                </td>
                <td>
                    <input type="text" name="city" th:field="*{city}" required>
                </td>
            </tr>

            <tr><td><p></p></td></tr> <!-- tussenregel -->
            <tr>
                <td>
                    <p>BSN-nummer</p>
                </td>
                <td>
                    <input type="number" name="socialSecurityNo" th:field="*{socialSecurityNo}" required>
                </td>
            </tr>

            <tr><td><p></p></td></tr> <!-- tussenregel -->
            <tr>
                <td>
                    <p>Gebruikersnaam</p>
                </td>
                <td>
                    <input type="text" name="userName" th:field="*{username}" required>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Wachtwoord</p>
                </td>
                <td>
                    <input type="password" name="password" th:field="*{password}" required>
                </td>
            </tr>
        </table>

        <input type="submit" value="Bevestigen">
        <input type="button" value="Annuleren" onclick="location.href='/'">
    </form>
</body>
</html>