<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="header">

    <div class="modal fade" id="confirm-logout" tabindex="-1" role="dialog" aria-labelledby="confirmLogout" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Uitloggen
                </div>
                <div class="modal-body">
                    Weet u zeker dat u wilt uitloggen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ga terug</button>
                    <a th:href="sign-out" class="btn btn-outline-dark">Log uit</a>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo_big.png}" height="40" class="d-inline-block align-top logo-navbar" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!--Show only if a customer is logged in-->
            <span th:if="${loggedInCustomer}" class="navbar-nav">
                <img th:src="@{/images/icons/person-lines-fill.svg}" alt=""><a class="nav-item nav-link" href="account_overview">Mijn rekeningen</a>
                <img th:src="@{/images/icons/file-earmark-plus.svg}" alt=""><a class="nav-item nav-link" href="/new-account">Rekening openen</a>
            </span>
            <!--Show only if an employee with role HoofdMKB is logged in"-->
            <span th:if="${loggedInEmployee != null and loggedInEmployee.role.roleID == 2}" class="navbar-nav">
                <img th:src="@{/images/icons/graph-up.svg}" alt=""><a class="nav-item nav-link" href="sme_employee_dashboard">MKB Dashboard</a>
                <img th:src="@{/images/icons/arrow-left-right.svg}" alt=""><a class="nav-item nav-link" href="paymentmachine-request-overview">Pinautomaten koppelen</a>
            </span>
        </div>
        <!--Show if NO customer or employee is logged in-->
        <div th:unless="${loggedInCustomer != null or loggedInEmployee != null}" class="navbar-nav ml-auto">
            <img th:src="@{/images/icons/box-arrow-in-right.svg}" alt=""><a class="nav-item nav-link" href="/employee_sign-in">Portaal Medewerkers</a>
            <img th:src="@{/images/icons/person-plus-fill.svg}" alt=""><a class="nav-item nav-link" href="pre-sign-up">Klant worden</a>
            <img th:src="@{/images/icons/box-arrow-in-right.svg}" alt=""><a class="nav-item nav-link" href="sign-in">Inloggen</a>
        </div>
        <!--Show if a customer is logged in-->
        <div th:if="${loggedInCustomer != null}" class="navbar-nav ml-auto">
            <img th:src="@{/images/icons/person-circle.svg}" alt="">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${loggedInCustomer.getUserFullName()}"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCustomer">
                    <a class="dropdown-item" href="#" data-href="sign-out" data-toggle="modal" data-target="#confirm-logout"><img class="dropdown-icon" th:src="@{/images/icons/box-arrow-right.svg}" alt="">Uitloggen</a>
                </div>
            </li>
        </div>
        <!--Show it an employee is logged in-->
        <div th:if="${loggedInEmployee != null}" class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmployee" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${loggedInEmployee.getUserFullName()}"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownEmployee">
                    <a class="dropdown-item" href="#" data-href="sign-out" data-toggle="modal" data-target="#confirm-logout"><img class="dropdown-icon" th:src="@{/images/icons/box-arrow-right.svg}" alt="">Uitloggen</a>
                </div>
            </li>
        </div>




    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>