<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="holder_tokens">
    <div class = "card">

        <div class="card-header"><h5>Je bent toegevoegd als rekeninghouder</h5>
        </div>
        <div class="card-body" id="confirm">
            <div th:each="token : ${accountHolderTokens}" class="signUpPage form-group">
                <form method="post" th:object="${token}" th:action="@{resolve-account-holder-token}">
                    <table class="account-table">
                        <tr>
                            <td>
                                <img class="account-icon" th:src="@{/images/icons/credit-card.svg}" alt="" src="">
                                <span th:text="${token.getAccount().getAccountNo()}"></span>
                            </td>
                            <td>
                                <img class="account-icon" th:src="@{/images/icons/people.svg}" alt="" src="">
                                <span th:text="${token.getAccount().getHolderString()}"></span>
                            </td>
                            <td>
                                <input type="hidden" th:name="tokenId" th:value="${token.getAccountHolderTokenId()}">

                                <button type="submit" class="btn btn-outline-dark">
                                    <img th:src="@{/images/icons/arrow-right-short.svg}" alt="">
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>