<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="holder_token_alert">
    <div class="alert alert-info" role="alert">
        <div th:each="tokenBean : ${accountHolderTokenBeans}">
            <div>
                <p th:text="*{message}"></p>
                <a href="#" class="btn btn-xs btn-primary pull-right">do an action</a>
            </div>

        </div>
    </div>
    <div class="alert alert-light" role="alert">
        This is a light alert—check it out!
    </div>
</th:block>

</body>
</html>