<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body th:object="${accountPageBean}">
    <h1>transactieoverzicht</h1>

    <div id="holderNames">
        <div th:each="name : *{holderNames}">
            <span th:text="${name + ' '}"  />
        </div>
    </div>


    <div id="transactionList">
        <div th:each="transaction : *{transactions}">
            <p><span th:text="${transaction}"  /></p>
        </div>
    </div>



</body>
</html>