<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{styles.css}">
    <meta charset="UTF-8">
    <title>Rekeningpagina</title>


    //TODO extern
    <style>
        .italic {
            font-style: italic;
        }

        strong {
            font-weight: bold;
        }

        #legenda {
            display: flex;
            font-size: 120%;
            position: relative;
            top: 22px;
        }

        #transactionList {
            font-family: monospace;
            font-size: 120%;
        }


    </style>

</head>

<body>

<div th:include="fragments/header :: header"></div>


<div id="accountPage" th:object="${accountPageBean}">
    <div class="container">
        <br/>

        <div class="card">
            <div class="card-header">
                <h1>Rekeningpagina</h1>
            </div>
            <div class="card-body">
                <div id="accountData">
                    <p class="italic"><span th:text="*{timestamp}"/></p>
                    <p th:if="*{typeAccount == 'SMEAccount'}"><strong>Bedrijf:</strong> <span th:text="*{companyName}"/></p>
                    <p><strong>Houder(s):</strong>
<!--                        <div >-->
                            <span th:each="name : *{holderNames}" th:text="${name + ' '}"  />
<!--                        </div>-->
                    </p>
                    <p><strong>Rekeningnummer:</strong> <span th:text="*{accountNo}"/></p>
                    <p><strong>Saldo:</strong> € <span th:text="*{balance}"/></p>
                </div>

                <div id="generalButtons">
                    <input type="button" class="btn btn-outline-dark" onclick="href='transfer';" value="Overboeken" />
                    <input type="button" class="btn btn-outline-dark" onclick="href='new-account';" value="Rekeninghouder toevoegen" />
                </div>

                <div id="SMEAButtons" th:if="*{typeAccount == 'SMEAccount'}">
                    <input type="button" class="btn btn-outline-dark" onclick="href='request-paymentmachine';" value="Aanvragen pinautomaat" />
                </div>

            </div>
        </div>

        <br/>

        <div class="card">
            <div class="card-header">
                <h2>Transacties</h2>

                <div id="legenda">
                    <pre>Datum       </pre>
                    <pre>Tijd   </pre>
                    <pre>Tegenrekening       </pre>
                    <pre>Bij/Af   </pre>
                    <pre>Omschrijving</pre>
                </div>

            </div>
            <div class="card-body">
                <div id="transactionList">
                    <p class="italic" th:if="*{transactionStrings.empty}">Voor deze rekening zijn geen transacties beschikbaar.</p>
                    <div th:each="transaction : *{transactionStrings}">
                        <p><span th:text="${transaction}"  /></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





</body>
</html>
