<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Rekeningoverzicht</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="index">
        <img th:src="@{/images/logo_big.png}" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="pre-sign-up">Klant worden</a>
            <a class="nav-item nav-link" href="sign-in">Inloggen</a>
            <a class="nav-item nav-link" href="postcode">Postcode-test</a>
            <a class="nav-item nav-link" href="new-account">Rekening openen</a>
        </div>
    </div>
</nav>

<div class="container">
    <br/>
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Persoonlijke rekeningen</h3>
        </div>
        <div class="panel-body account-list">
            <div class="list-group">
                <div th:each="account : ${consumerAccounts}">
                    <form method="post" th:action="@{account_overview}">
                        <input type="hidden" th:name="accountID" th:value="${account.getAccountID()}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"/> <span th:text="${account.getAccountNo()}"/>
                        <span class="glyphicon glyphicon-link" aria-hidden="true"/> &nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<span th:text="${account.getHolderString()}"/>
                        <span class="glyphicon glyphicon-eur" aria-hidden="true"/>&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;&nbsp;€&nbsp;<span th:text="${account.getBalance()}"/>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-outline-dark">></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Zakelijke rekeningen</h3>
        </div>
        <div class="panel-body account-list">
            <div class="list-group">
                <div th:each="account : ${smeAccounts}">
                    <form method="post" th:action="@{account_overview}">
                        <input type="hidden" th:name="accountID" th:value="${account.getAccountID()}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"/> <span th:text="${account.getAccountNo()}"/>
                        <span class="glyphicon glyphicon-link" aria-hidden="true"/> &nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<span th:text="${account.getHolderString()}"/>
                        <span class="glyphicon glyphicon-eur" aria-hidden="true"/>&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;&nbsp;€&nbsp;<span th:text="${account.getBalance()}"/>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-outline-dark">></button>
                    </form>
                </div>
            </div>
        </div>
    </div>






</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>