<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Rekeningoverzicht</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <br/>
    <br/>

    <div class="card">
        <h5 class="card-header">Persoonlijke rekeningen</h5>
        <div class="card-body">
            <div th:each="account : ${consumerAccounts}">
                <form method="post" th:action="@{account_overview}">
                    <table class="account-table">
                        <tr>
                            <td><span th:text="${account.getAccountNo()}"/></td>
                            <td><span th:text="${account.getHolderString()}"/></td>
                            <td>€&nbsp;<span th:text="${#numbers.formatDecimal(account.getBalance(), 0, 'POINT', 2, 'COMMA')}"/></td>
                            <td>
                                <input type="hidden" th:name="accountID" th:value="${account.getAccountID()}">
                                <button type="submit" class="btn btn-outline-dark">></button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <h5 class="card-header">Zakelijke rekeningen</h5>
        <div class="card-body">
            <div th:each="account : ${smeAccounts}">
                <form method="post" th:action="@{account_overview}">
                    <table class="account-table">
                        <tr>
                            <td><span th:text="${account.getAccountNo()}"/></td>
                            <td><span th:text="${account.getHolderString()}"/></td>
                            <td>€&nbsp;<span th:text="${#numbers.formatDecimal(account.getBalance(), 0, 'POINT', 2, 'COMMA')}"/></td>
                            <td>
                                <input type="hidden" th:name="accountID" th:value="${account.getAccountID()}">
                                <button type="submit" class="btn btn-outline-dark">></button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>