<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Rekeningoverzicht</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <br/>
    <div th:if="${accountHolderTokenBeans!=null and !accountHolderTokenBeans.isEmpty()}">
        <div th:replace="fragments/holder_token_alert :: holder_token_alert"></div>
        <br/>
    </div>

    <div th:if="${#lists.isEmpty(smeAccounts) and #lists.isEmpty(consumerAccounts)}" class="card">
        <div class="card-header">
            <h5>Rekeningoverzicht</h5>
        </div>
        <div class="card-body">
            U heeft nog geen rekeningen. Klik <a th:href="@{/new-account}">hier</a> om uw eerste rekening te openen.
        </div>
    </div>

    <div th:unless="${#lists.isEmpty(consumerAccounts)}" class="card">
        <div class="card-header account-header-div">

            <form method="post" th:action="@{/new-account}" class="inline-form">
            <h5 class="account-header">Persoonlijke rekeningen</h5>
                <input type="hidden" th:name="accountType" th:value="0">
                <button type="submit" class="btn btn-open-account btn-outline-dark">Rekening toevoegen</button>
            </form>

        </div>

        <div th:if="${#lists.isEmpty(consumerAccounts)}">
            <div class="card-body">
                <p>U heeft geen persoonlijke rekening(en).</p>
            </div>
        </div>

        <div th:unless="${#lists.isEmpty(consumerAccounts)}">
            <div class="card-body">
                <div th:each="account : ${consumerAccounts}">
                    <form method="post" th:action="@{account_overview}">
                        <table class="account-table">
                            <tr class="d-flex">
                                <td class="col-5">
                                    <img class="account-icon" th:src="@{/images/icons/credit-card.svg}" alt="">
                                    <span th:text="${account.getAccountNo()}"/>
                                </td>
                                <td class="col-9">
                                    <img class="account-icon" th:src="@{/images/icons/people.svg}" alt="">
                                    <span th:text="${account.getHoldersString(4)}"/>
                                </td>
                                <td class="col-3">
                                    <img class="account-icon" th:src="@{/images/icons/wallet2.svg}" alt="">
                                    €&nbsp;
                                    <span th:text="${#numbers.formatDecimal(account.getBalance(), 0, 'POINT', 2, 'COMMA')}"/>
                                </td>
                                <td class="col-5">
                                    <input type="hidden" th:name="accountID" th:value="${account.getAccountID()}">
                                    <button type="submit" class="btn btn-outline-dark">
                                        <img th:src="@{/images/icons/arrow-right-short.svg}" alt="">
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div th:unless="${#lists.isEmpty(smeAccounts)}" class="card">
        <div class="card-header account-header-div">
            <form method="post" th:action="@{/new-account}" class="inline-form">
                <h5 class="account-header">Zakelijke rekeningen</h5>
                <input type="hidden" th:name="accountType" th:value="1">
                <button type="submit" class="btn btn-open-account btn-outline-dark">Rekening toevoegen</button>
            </form>
        </div>

        <div th:if="${#lists.isEmpty(smeAccounts)}">
            <div class="card-body">
                <p>U heeft nog geen zakelijke rekening(en).</p>
            </div>
        </div>


        <div th:unless="${#lists.isEmpty(smeAccounts)}">
            <div class="card-body">
                <div th:each="account : ${smeAccounts}">
                    <form method="post" th:action="@{account_overview}">
                        <table class="account-table">
                            <tr class="d-flex">
                                <td class="col-5">
                                    <img class="account-icon" th:src="@{/images/icons/credit-card.svg}" alt="">
                                    <span th:text="${account.getAccountNo()}"/>
                                </td>
                                <td class="col-9">
                                    <img class="account-icon" th:src="@{/images/icons/building.svg}" alt="">
                                    <span th:text="${account.getHoldersString(4)}"/>
                                </td>
                                <td class="col-3">
                                    <img class="account-icon" th:src="@{/images/icons/wallet2.svg}" alt="">
                                    €&nbsp;
                                    <span th:text="${#numbers.formatDecimal(account.getBalance(), 0, 'POINT', 2, 'COMMA')}"/
                                </td>
                                <td class="col-5">
                                    <input type="hidden" th:name="accountID" th:value="${account.getAccountID()}">
                                    <button type="submit" class="btn btn-outline-dark">
                                        <img th:src="@{/images/icons/arrow-right-short.svg}" alt="">
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>