<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{styles.css}">    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Toevoegen rekeninghouder</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <form method="post" th:action="@{confirm-add-account-holder}">
        <div class = "card">
            <div class="card-header"><h5>Zoek DSB klant</h5></div>
            <div class="card-body" id="signUpPage">
                <p>Type hier de gebruikersnaam van de nog toe te voegen rekeninghouder en kies vervolgens een 5-cijferige beveiligingscode.</p>
                <div class="form-group">
                    <p class="control-label">Rekeningnummer: </p>
                    <p th:text="${accountNo}"></p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="new_account_holder">Gebruikersnaam: </label>
                    <input class="form-control" type="text" id="new_account_holder" name="new_account_holder" onchange="checkUser()"/>
                    <span id="error-msg-un" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="tokenCode">5-cijferige code: </label>
                    <input class="form-control" type="text" id="tokenCode" name="tokenCode" onchange="checkCode()"/>
                    <span id="error-msg-code" class="text-danger"></span>
                </div>
            </div>
            <div id="auth" th:replace="fragments/user_auth :: user_auth"></div>
        </div>
        <div class="buttons">
            <input class="btn btn-outline-dark" type="submit" value="Volgende">
            <input class="btn btn-outline-dark" type="button" value="Annuleren" onclick="location.href='accountPage'">
        </div>
    </form>
</div>
<script>
    function checkUser() {
        var new_account_holder = document.getElementById("new_account_holder");
        if (new_account_holder.classList.contains("is-valid")){
            new_account_holder.classList.remove("is-valid")
        }
        var str = new_account_holder.value;
        var xhttp;
        // als het veld leeg is, chill!
        if (str == "") {
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                const response = this.responseText;
                console.log("response: " + response)
                if (response.valueOf() == "".valueOf()) {
                    new_account_holder.classList.add("is-valid");
                    document.getElementById("error-msg-un").innerText = "";
                } else {
                    document.getElementById("error-msg-un").innerText = response.valueOf();
                }
            }
        };
        xhttp.open("GET", "/find_users/"+str, true);
        xhttp.send();
    }
    function checkCode(){
        var element = document.getElementById("tokenCode")
        if (element.classList.contains("is-valid")){
            element.classList.remove("is-valid")
        }
        let code = element.value;
        console.log("checking")
        if (code.toString().length === 5 && Number.parseInt(code) && checkDigits(code)){
            console.log("yes")
            element.classList.add("is-valid")
            document.getElementById("error-msg-code").innerText = "";
        } else {
            document.getElementById("error-msg-code").innerText = "Incorrecte code - code dient enkel uit cijfers te bestaan en is 5 cijfers lang";
        }
    }
    function checkDigits(string){
        for (let i = 0; i < string.length; i++) {
            if (!Number.isInteger(Number.parseInt(string[i]))){
                console.log(false)
                return false;
            }
        }
        return true;
    }
</script>
</body>
</html>
