<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fill out bussiness deatail</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="card" >
        <div class="card-header account-header-div">
            <h5 class="account-header">Bedrijfsgegevens</h5>
        </div>
        <div class="new-account card-body">

            <p>Vul de volgende velden in:</p>
            <form method="POST" th:object="${companyBean}" th:action="@{company-details-completed}">
                <div class="new-account table">
                    <div class="new-account row">
                        <label class="new-account label">KVK-nummer:</label>
                        <input class="new-account field form-control" id="kvk" type="text" name="input-KVKno" th:field="*{KVKno}" required onchange ="showText()">
                    </div>
                    <div class="new-account row">
                        <label class="new-account label">Bedrijfsnaam:</label>
                        <input class="new-account field form-control" id="name" type="text" name="input-name" th:field="*{Name}" required>
                    </div>
                    <div class="new-account row">
                        <label class="new-account label">BTW-nummer:</label>
                        <input class="new-account field form-control" id="btw" type="text" name="input-BTWno" th:field="*{BTWno}" required>
                    </div>
                    <div>
                        <label class="new-account label">Sector:</label>
                        <select th:field="*{sector}" required>
                            <option value=""></option>
                        <!--    <option th:each-->


                    </div>
                </div>
                <div style="display: inline;">
                    <input class="btn btn-outline-dark button" type="submit" value="Volgende"/>
                    <input class="btn btn-outline-dark button" type="button" onclick="window.location.href='account_overview';" value="Cancel"/>
                </div>
            </form>
        </div>
    </divclass>
</div>

<script>
    function showText() {
        var str = document.getElementById("kvk").value;
        var xhttp;
        // als het veld leeg is, chill!
        if (str == "") {
            document.getElementById("txtHint").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText != "") {
                    var x = this.responseText.split(",");
                    //vul velden met response
                    document.getElementById("name").value = x[0];
                    document.getElementById("btw").value = x[1];
                }
            }
        };
        xhttp.open("GET", "/kvks/"+str, true);
        xhttp.send();
    }
</script>
</body>
</html>