<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fill out bussiness deatail</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
</head>
<body>
<div th:include="fragments/header :: header"></div>

<div class="container">
    <form method="POST" th:object="${companyBean}" th:action="@{company-details-completed}">
        <div class="card" id="new-account">
            <div class="card-header account-header-div">
                <h5 class="account-header">Bedrijfsgegevens</h5>
            </div>

            <div class="card-body">
                <div>
                    <div th:if="${companyError ne null}">
                        <div  class="alert alert-danger">
                            <span th:text="${companyError}"></span>
                        </div>
                    </div>

                    <div th:if="${fieldsError ne null}">
                        <div  class="alert alert-danger">
                            <span th:text="${fieldsError}"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-auto col-form-label">
                            <p>Vul in de onderstaande velden uw bedrijfsgegevens in.</p>
                            <p>Bent u al rekeninghouder van een bedrijf? Voer dan het kvk-nummer van het betreffende bedrijf in, de overige velden worden dan automatisch aangevuld.</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="kvk" class="col-sm-2 col-form-label">KVK-nummer</label>
                        <div class="col-sm-10">
                            <div>
                                <input class="form-control" id="kvk" type="text" name="input-KVKno" th:field="*{KVKno}" onchange="showText()">
                            </div>
                            <div class="text-danger form-error">
                                <small>
                                    <span th:if="${#fields.hasErrors('KVKno')}" th:errors="*{KVKno}"/>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Bedrijfsnaam</label>
                        <div class="col-sm-10">
                            <div>
                                <input class="form-control" id="name" type="text" name="input-name" th:field="*{name}">
                            </div>
                            <div class="text-danger form-error">
                                <small>
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="btw" class="col-sm-2 col-form-label">BTW-nummer</label>
                        <div class="col-sm-10">
                            <div>
                                <input class="form-control" id="btw" type="text" name="input-BTWno" th:field="*{BTWno}">
                            </div>
                            <div class="text-danger form-error">
                                <small>
                                    <span th:if="${#fields.hasErrors('BTWno')}" th:errors="*{BTWno}"/>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sector" class="col-sm-2 col-form-label">Sector:</label>
                        <div class="col-sm-10">
                            <div>
                                <select class="form-control" id="sector" th:field="*{sector}">
                                    <option value="" text=""></option>
                                    <option th:each="sec : ${sectors}" th:value="${sec.sectorId}" th:text="${sec.getSectorName()}"></option>
                                </select>
                            </div>
                            <div>
                                <small>
                                    <span th:if="${#fields.hasErrors('sector')}" th:errors="*{sector}"/>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="btn-group">
                <input class="btn btn-outline-dark" type="submit" value="Volgende"/>
                <input class="btn btn-outline-dark" type="button" onclick="window.location.href='account_overview';" value="Cancel"/>
            </div>
        </div>
    </form>
</div>
<style>
    .buttons {
        margin-top: 15px;
    }
</style>
<script>
    function showText() {
        var str = document.getElementById("kvk").value;
        var xhttp;
        // als het veld leeg is, chill!
        if (str == "") {
            document.getElementById("txtHint").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText != "") {
                    var x = this.responseText.split(",");
                    //vul velden met response
                    document.getElementById("name").value = x[0];
                    document.getElementById("btw").value = x[1];
                    document.getElementById("sector").value = x[2];
                }
            }
        };
        xhttp.open("GET", "/kvks/"+str, true);
        xhttp.send();
    }
</script>
</body>
</html>