<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Confirm new account page</title>
</head>
<body>
<h1>Bevestig nieuwe account</h1>
<div th:if="${newAccountBean.getAccountType() == 0}">Je hebt gekozen voor een particulier account!</div>
<div th:if="${newAccountBean.getAccountType() == 1}">
    <p>Je hebt gekozen voor een zakelijke account!</p>
    <table>
        <tr>
            <td>
                Bedrijfsnaam:
            </td>
            <td><span th:text="${newAccountBean.getBussiness().getName()}"></span></td>
        </tr>
        <tr>
            <td>
                KVK-nummer:
            </td>
            <td><span th:text="${newAccountBean.getBussiness().getKVKno()}"></span></td>
        </tr>
        <tr>
            <td>
                BTW-nummer:
            </td>
            <td><span th:text="${newAccountBean.getBussiness().getBTWno()}"></span></td>
        </tr>
    </table>
</div>

<div>
    <form action="confirm-new-account">
        <input type="submit" value="Bevestig">
    </form>
</div>
</body>
</html>