<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Confirm new account page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="index">
        <img th:src="@{/images/logo_big.png}" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="pre-sign-up">Klant worden</a>
            <a class="nav-item nav-link" href="sign-in">Inloggen</a>
            <a class="nav-item nav-link" href="postcode">Postcode-test</a>
            <a class="nav-item nav-link" href="new-account">Rekening openen</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading new-account">
                <h3 class="panel-title">Bevestig nieuw account</h3>
            </div>
            <div class="panel-body new-account" style="margin-top: 30px" th:if="${newAccountBean.Name == null}">
                <p>Je hebt gekozen voor de particulier rekening bij de DSB bank.</p>
            </div>
            <div class="panel-body new-account" style="margin-top: 30px" th:if="${newAccountBean.Name != null}">
                <p>Je hebt gekozen voor de zakelijk rekening bij de DSB bank. Vanaf nu dus altijd VEILIG bankieren!</p>
            </div>
            <div>
                <p>Controleer de onderstaande gegevens en bevestig als alles klopt.</p>
            </div>
            <div>
                <div class="panel-heading new-account">
                    <h3 class="panel-title">Rekening gegevens</h3>
                </div>
                <div class="panel-body new-account" style="margin-top: 30px">
                    <div th:if="${loggedInCustomer != null}">
                        <p>Rekeninghouder:
                            <span th:text="${loggedInCustomer.getInitials()}"></span> <span th:text="${loggedInCustomer.getInserts()}"></span> <span th:text="${loggedInCustomer.getSurname()}"></span>
                        </p>
                    </div>
                    <div>
                        <p>IBAN:
                            <span th:field="*{accountNo}" th:text="${newAccountBean.getAccountNo()}"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div th:if="${newAccountBean.Name != null}">
                <div class="panel-heading new-account">
                    <h3 class="panel-title">Bedrijfsgegevens</h3>
                </div>
                <div>
                    <p>Bedrijfsnaam:
                        <span th:field="*{name}"  th:text="${newAccountBean.getName()}"></span></p>
                </div>
                <div>
                    <p>KVK-nummer:
                        <span th:field="*{KVKno}"  th:text="${newAccountBean.getKVKno()}"></span></p>
                </div>
                <div>
                    <p>BTW-nummer:
                        <span th:field="*{BTWno}" th:text="${newAccountBean.getBTWno()}"></span></p>
                </div>
            </div>
            <form method="POST" th:action="@{account-confirmed}">
            <div>
                <input class="btn btn-primary" type="submit" value="Bevestig">
                <input class="btn" type="button" onclick="window.location.href='account_overview';" value="Cancel"/>
            </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>