<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:object="${confirmBean}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css"/>
    <title th:text="*{title}">Title</title>
</head>
<body id="confirm">
<div th:include="fragments/header :: header"></div>
<div class="container ">
<!--Deel 1-->
    <!--<div class="card new-account cards">-->
    <div class="card cards">
        <!--Header-->
        <div class="card-header header">
            <h5 class="header"><span th:text="*{title}"></span></h5>
        </div>
        <!--Body-->
        <!--<div class="card-body new-account">-->
        <div class="card-body">
            <p th:text="*{message}"></p>
        </div>
        <!--Button-->
    </div>
    <div>
        <input class="btn btn-outline-dark button buttons" type="button" th:onclick="|window.location.href='@{*{url}}'|" th:value="*{urlName}"/>
    </div>
</div>

<div th:include="fragments/footer :: scripts"></div>

</body>
</html>