<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Dashboard particulieren</title>

    <style>

        #customers1 {

            border-collapse: collapse;
            width: 80%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }


        #customersSmall {

            border-collapse: collapse;
            width: 40%;
        }

        #customersSmall td, #customersSmall th {
            border: 1px solid #ddd;
            padding: 8px;
        }





    </style>
</head>
<body>

<div th:include="fragments/header :: header"></div>






<div class="container">
    <br/>
    <br/>

    <div class="card">
        <div class="card-header">
            <h5>Particulieren Dashboard</h5>
        </div>
        <div class="card-body">
            <div id="accountData">

                <p> Welkom <strong><span th:text="${selectedEmployee}"></span></strong></p>


            </div>
        </div>
    </div>
    <br>



    <div class="card">
        <div class="card-header account-header-div">
            <h5 class="account-header">Top 10 Particulieren saldo's </h5>
        </div>

        <div class="card">


                <div class="card-body">
                    <table id="customers1" class="top10saldo-table">

                        <tr th:each="account : ${consumerAccounts1}">
                            <td>
                                <img class="account-icon" th:src="@{/images/icons/people.svg}" alt="">
                                <span th:text="${account.getHoldersString()}"/>
                            </td>
                            <td>
                                <img class="account-icon" th:src="@{/images/icons/credit-card.svg}" alt="">
                                <span th:text="${account.getAccountNo()}"/>
                            </td>
                            <td>
                                <img class="account-icon" th:src="@{/images/icons/wallet2.svg}" alt="">
                                €
                                <span th:text="${#numbers.formatDecimal(account.getBalance(), 0, 'POINT', 2, 'COMMA')}"/>
                            </td>
                        </tr>
                    </table>
                </div>

        </div>













    </div>
</div>
</body>