<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <title>Inloggen medewerker</title>
</head>
<body style="background: darkgray">
    <br>
    <br>
    <span th:if="${employeeLoginFailed == 'true'}">
        <div class="alert alert-warning" role="alert">
            Gebruikersnaam en/of wachtwoord incorrect. Probeer het nog eens.
        </div>
    </span>
    <div class="container">
        <form method="post" th:object="${employeeLoginBean}" th:action="@{employee_sign-in}">
            <div class="form-group">
                <label for="employee_username">Gebruikersnaam</label>
                <input type="text" class="form-control" id="employee_username" name="employee_username" th:field="*{employeeUserName}" placeholder="Voer gebruikersnaam in" required>
            </div>
            <div class="form-group">
                <label for="employee_password">Wachtwoord</label></td>
                <input type="password" class="form-control" id="employee_password" name="employee_password" th:field="*{employeePassword}" placeholder="Voer wachtwoord in" required>
            </div>
            <button type="submit">Enter Dirk's Darkside Control Center</button>
        </form>
    </div>
</body>
</html>

