<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Welkom bij DSB</title>
</head>
<body>

    <div th:include="fragments/header :: header"></div>

    <div class="container">
        <img th:src="@{/images/DolleDirk.jpg}" alt="Dirkieeeeeeeeee" style="width: 100%; margin: auto">
    </div>

    <div th:replace="fragments/footer :: scripts"></div>

</body>
</html>