<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Welkom bij DSB</title>
</head>
<body>
    <div class="container">
        <img th:src="@{/images/logo_big.png}" class="img-fluid" alt="DSB Logo"/>
        <br/>
        <ul>
            <li><a href="sign-up">Klant worden</a></li>
            <li><a href="sign-in">Inloggen</a></li>
        </ul>
    </div>
</body>
</html>