<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Aanvraag nieuwe rekening</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="card" >
        <div class="card-header account-header-div">
            <h5 class="account-header">Aanvraag nieuwe account</h5>
        </div>
        <div class="card-body">
            <p>Wat voor account zou je aan willen maken?</p>
            <form method="post" th:action="new-account">
                <div>
                    <div class="new-account">
                        <input class="new-account label" type="radio" id="consumer" name="accountType" value="0" >
                        <label for="consumer">Particulier</label>
                    </div>
                    <div class="new-account">
                        <input class="new-account label" type="radio" id="SME" name="accountType" value="1" required>
                        <label for="SME">Zakelijk</label>
                    </div>
                </div>
                <div style="display:inline;">
                    <input  class="btn btn-outline-dark" type="submit" value="Volgende"/><input class="btn btn-outline-dark" type="button" onclick="window.location.href='account_overview';" value="Cancel"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>