<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aanvraag nieuwe rekening</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<h1>Aanvraag nieuwe account</h1>
<p>
<h2>Wat voor account zou je willen aanmaken?</h2>
<form method="post" th:action="new-account">
    <table>
        <tr>
            <td th:each="type : ${types} " name="accout_type" th:value="${type}"></td>
<!--            <td>
                <input type="radio" id="consumer" name="account_type" value="0" >
                <label for="consumer">Particulier</label>
            </td>
            <td><input type="radio" id="SME" name="account_type" value="1" >
                <label for="SME">Zakelijk</label>
            </td>-->
        </tr>
        <tr>
            <td><input type="submit" value="Volgende"></td>
            <td><input type="button" value="Cancel"></td>
        </tr>
    </table>
</form>
</body>
</html>