<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Aanvraag nieuwe rekening</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="index">
        <img th:src="@{/images/logo_big.png}" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="pre-sign-up">Klant worden</a>
            <a class="nav-item nav-link" href="sign-in">Inloggen</a>
            <a class="nav-item nav-link" href="postcode">Postcode-test</a>
            <a class="nav-item nav-link" href="new-account">Rekening openen</a>
        </div>
    </div>
</nav>
<br/>
<br/>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading new-account">
            <h3 class="panel-title">Aanvraag nieuwe account</h3>
        </div>
        <div class="panel-body new-account" style="margin-top: 30px">
            <p>Wat voor account zou je aan willen maken?</p>
        </div>
        <div class="panel-body new-account">
            <form method="post" th:action="new-account">
                <div>
                    <input type="radio" id="consumer" name="accountType" value="0" >
                    <label for="consumer">Particulier</label>
                </div>
                <div>
                    <input type="radio" id="SME" name="accountType" value="1" required>
                    <label for="SME">Zakelijk</label>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Volgende">
                    <input class="btn" type="button" onclick="window.location.href='account_overview';" value="Cancel"/>
                </div>
            </form>
        </div>

    </div>


</div>

</body>
</html>