<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Inloggen</title>
</head>
<body>
<div class="container">
    <br/>
    <br/>
    <span th:if="${loginFailed == 'true'}">
        <div class="alert alert-warning" role="alert">
            Gebruikersnaam en/of wachtwoord incorrect. Probeer het nog eens.
        </div>
    </span>

    <form method="post" th:object="${loginBean}" th:action="@{sign-in}" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="input_username">Gebruikersnaam</label>
            <input type="text" class="form-control" id="input_username" name="input_username" th:field="*{username}" th:value="${username}" placeholder="Voer wachtwoord in" required>
            <div class="invalid-feedback">
                Vul alstublieft een gebruikersnaam in!
            </div>
        </div>
        <div class="form-group">
            <label for="input_password">Wachtwoord</label>
            <input type="password" class="form-control" id="input_password" name="input_password" th:field="*{password}" th:value="${password}" placeholder="Voer gebruikersnaam in" required>
            <div class="invalid-feedback">
                Vul alstublieft een wachtwoord in!
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    // Check whether both fields are filled, if not, show custom errors
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms to be validated
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>