<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{styles.css}">

    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body th:object="${signUpBeanSession}" id="signupConfirmPage">

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="card">
        <div class="card-header"><h5>Bevestig klantgegevens</h5></div>
        <div class="card-body">

            <div class="grid">

                <div id="personalData">
                    <div id="name">
                        <p class="subheader">Naam:</p>
                        <p><span th:text="${namePrint}"/></p>
                    </div>
                </div>

                <div id="addressData">
                    <div id="address">
                        <p class="subheader">Adres:</p>
                        <p><span style="white-space: pre;" th:text="${addressPrint}"/></p>
                    </div>
                </div>

                <div id="userData">
                    <div id="username">
                        <p class="subheader">Gebruikersnaam:</p>
                        <p><span th:text="*{username}"/></p>
                    </div>
                </div>

            </div>

            <div class="buttons">
                <input class="btn btn-outline-dark" type="button" value="Bevestigen" onclick="location.href='customerConfirmed'">
                <input class="btn btn-outline-dark" type="button" value="Wijzigen" onclick="location.href='sign-up'">
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: scripts"></div>

</body>
</html>