<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <title>Inloggen</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <br/>
    <br/>
    <span th:if="${loginFailed == 'true'}">
        <div class="alert alert-warning" role="alert">
            Gebruikersnaam en/of wachtwoord incorrect. Probeer het nog eens.
        </div>
    </span>

    <form method="post" th:object="${loginBean}" th:action="@{sign-in}"><!--class="needs-validation" novalidate-->
        <div class="form-group">
            <label for="input_username">Gebruikersnaam</label>
            <input type="text" class="form-control" id="input_username" th:field="*{username}" placeholder="Voer wachtwoord in" autofocus required>
            <div class="invalid-feedback">
                Vul alstublieft een gebruikersnaam in!
            </div>
        </div>
        <div class="form-group">
            <label for="input_password">Wachtwoord</label>
            <input type="password" class="form-control" id="input_password" th:field="*{password}" placeholder="Voer gebruikersnaam in" required>
            <div class="invalid-feedback">
                Vul alstublieft een wachtwoord in!
            </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</div>

<script>
    // Check whether both fields are filled, if not, show custom errors
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms to be validated
            var forms = document.getElementsByClassName('needs-validation'):wq
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>