<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />



    <style>
        .signupconfirmpage .grid {
            display: grid;
            grid-gap: 10px 40px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }

        .signupconfirmpage .subheader {
            margin-bottom: 0px;
            font-weight: bold;
        }

        .signupconfirmpage {
            font-size: 140%;
        }
        .signupconfirmpage .buttons {
            margin-top: 10px;
        }

    </style>

</head>
<body th:object="${customerBean2}" class="signupconfirmpage">

<div th:include="fragments/header :: header"></div>

<div class="container">
    <br>
    <h1>Bevestig klantgegevens</h1>
    <br>
    <br>
    <div class="grid">

        <div id="personalData">
            <div id="surname">
                <p class="subheader">Achternaam:</p>
                <p><span th:text="*{surname}"/></p>
            </div>
            <div id="inserts">
                <p class="subheader">Tussenvoegsels:</p>
                <p><span th:text="*{inserts}"/></p>
            </div>
            <div id="initials">
                <p class="subheader">Initialen: </p>
                <p><span th:text="*{initials}"/></p>
            </div>
            <div id="BSN">
                <p class="subheader">BSN-nummer:</p>
                <p><span th:text="*{socialSecurityNoString}"/></p>
            </div>
        </div>

        <div id="addressData">
            <div id="street">
                <p class="subheader">Straat:</p>
                <p><span th:text="*{street}"/></p>
            </div>
            <div id="houseNumber">
                <p class="subheader">Huisnummer:</p>
                <p><span th:text="*{houseNumberString}"/></p>
            </div>
            <div id="affixes">
                <p class="subheader">Toevoeging:</p>
                <p><span th:text="*{affixes}"/></p>
            </div>
            <div id="zipCode">
                <p class="subheader">Postcode:</p>
                <p><span th:text="*{zipCode}"/></p>
            </div>
            <div id="city">
                <p class="subheader">Woonplaats:</p>
                <p><span th:text="*{city}"/></p>
            </div>
        </div>

        <div id="userData">
            <div id="username">
                <p class="subheader">Gebruikersnaam:</p>
                <p><span th:text="*{username}"/></p>
            </div>
        </div>

    </div>

    <div class="buttons">
        <input class="btn btn-outline-dark" type="button" value="Bevestigen" onclick="location.href='customerConfirmed'">
        <input class="btn btn-outline-dark" type="button" value="Wijzigen" onclick="location.href='sign-up'">
    </div>
    </div>



</div>
</body>
</html>