<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Openstaande pinautomaataanvragen</title>

</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="card">
        <div class="card-header account-header-div">
            <h1 class="account-header">Openstaande pinautomaataanvragen</h1>
        </div>

        <div th:each="request: ${paymentMachineRequests}">
            <form method="post" th:action="@{sme-confirm-paymentmachine-request}">
                <input type="hidden" th:name="tokenID" th:value="${request.getTokenID()}">
                <input type="text" th:field="*{request.getSmeAccount}"/>

                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>

        </div>
    </div>
</div>

</body>
</html>
