<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>LinkRequest_overview</title>


    <style>
        pre {
            display: block;




        }

    </style>



</head>
<body>

<div th:include="fragments/header :: header"></div>
<div class="container">

    <div class="card">
        <div class="card-header account-header-div">
            <h1 class="account-header">Koppelverzoeken</h1>
        </div>

        <div th:each="request : ${linkRequest}">
            <table class="top10saldo-table">
                <tr>
                    <td>
                        <img class="account-icon" th:src="@{/images/icons/people.svg}" alt="">
                        <span th:text="${request.getTokenID()}"/>
                        <span th:text="${request.getSmeAccount().getCompany().companyId}"/>
                        <span th:text="${request.getSmeAccount().getCompany().name}"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>

</body>
</html>
