<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{styles.css}">    <meta charset="UTF-8">

    <meta charset="UTF-8">
    <title>Overboeken</title>

</head>
<body id="transferConfirmPage">
<div th:include="fragments/header :: header"></div>
<div class="container">

    <div class = "card">

        <div class="card-header"><h5>Bevestiging overboeking</h5></div>

        <div class="card-body" th:object="${transferBeanSession}">

            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <table><tr><td>
                                <label for="debitAccountNo">Eigen<br>rekening</label>
                            </td><td>
                                <span id="debitAccountNo" th:text="*{debitAccountNo}"/>
                            </td></tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <table><tr><td>
                                <label for="creditAccountNo">Rekening begunstigde</label>
                            </td><td>
                                <span id="creditAccountNo" th:text="*{creditAccountNo}"/>
                            </td></tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <table><tr><td>
                                <label for="counterName">Naam begunstigde</label>
                            </td><td>
                                <span id="counterName" th:text=="*{name}"/>
                            </td></tr>
                            </table>
                        </div>
                    </td>
                    <td id="inputsRight">
                        <div class="form-group">
                            <table>
                                <tr>
                                <td><label for="transferAmount">Bedrag (€)</label></td>
                                <td><span id="transferAmount" th:text=="*{transferAmountStyled}"/></td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <table><tr><td>
                                <label for="message">Mededeling</label>
                            </td><td>
                                <span id="message" th:text=="*{message}"/>
                            </td></tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>





        </div>
    </div>
    <br>
    <br>
    <div class = "card">

        <div class="card-header"><h5>Wachtwoordverificatie</h5></div>

        <div class="card-body">
            <form method="post" th:object="${loginBean}" th:action="@{transferConfirm}">

                <div class="form-group">
                    <table><tr><td>
                        <label for="password">Wachtwoord</label>
                    </td><td>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
                        <br>
                        <p class="errors" th:if="${errorMessage == true}">Ondertekenen mislukt. Probeer het nog een keer. <p>
                    </td></tr>
                    </table>
                </div>

                <div class="buttons">
                    <br>
                    <input class="btn btn-outline-dark" type="submit" value="Bevestigen">
                    <input class="btn btn-outline-dark" type="button" value="Bewerken" onclick="location.href='transferEdit'">
                </div>
                <br>
            </form>
        </div>
    </div>





</div>

<div th:replace="fragments/footer :: scripts"></div>

</body>
</html>