<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Overboeken</title>

</head>
<body id="transferConfirmPage" th:object="${transferBean}">
<div th:include="fragments/header :: header"></div>
<div class="container">

    <div class = "card">

        <div class="card-header"><h1>Bevestiging overboeking</h1></div>

        <div class="card-body">





        </div>
    </div>
</div>


</body>
</html>