<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{styles.css}">

    <meta charset="UTF-8">
    <title>Overboeken</title>

</head>
<body>
    <div th:include="fragments/header :: header"></div>

    <div class="modal fade" id="nameError" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tenaamstelling onjuist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="card">
            <div class="card-header"><h5>Nieuwe transactie</h5></div>
            <div class="card-body">

                <div class="transfer-account-data" id="accountData" th:object="${printAccountDataBean}">
                    <p>
                        <strong>Rekeningnummer:</strong> <span th:text="*{accountNo}"/><br>
                        <span th:if="*{typeAccount == 'SMEAccount'}">
                            <strong>Bedrijf:</strong> <span th:text="*{companyName}"/><br>
                        </span>
                        <span><strong>Rekeninghouder(s):</strong> <span th:each="name : *{holderNames}" th:text="${name + ' '}" /></span><br>
                        <strong>Saldo:</strong> € <span th:text="*{balance}"/><br>
                    </p>
                </div>


                <div id="inputTransferData">
                    <form method="post" id="transferForm" th:action="@{transferPost}" th:object="${transferBean}">
                        <input type="hidden" th:field="*{accountBalance}">
                        <input type="hidden" th:field="*{debitAccountNo}">

                        <div class="form-group row">
                            <label for="transferAmount" class="col-sm-2 col-form-label">Bedrag</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">€</span>
                                    </div>
                                    <input type="text" class="form-control" id="transferAmount" name="transferAmountString" th:field="*{transferAmountString}" placeholder="Voer een bedrag in">
                                </div>
                                <div class = "text-danger form-error">
                                    <small>
                                        <span th:if="${#fields.hasErrors('transferAmountString')}" th:errors="*{transferAmountString}"/>
                                        <span th:unless="${#fields.hasErrors('transferAmountString')}">
                                            <span th:if="${#fields.hasErrors('transferAmount')}" th:errors="*{transferAmount}"/>
                                            <span th:if="${#fields.hasErrors('sufficientFunds')}" th:errors="*{sufficientFunds}"/>
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="creditAccountNo" class="col-sm-2 col-form-label">Rekeningnummer</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="creditAccountNo" name="creditAccountNo" th:field="*{creditAccountNo}" placeholder="Voer het rekeningnummer van de begunstigde in" autofocus>
                                <div class = "text-danger form-error">
                                    <small>
                                        <span th:if="${#fields.hasErrors('creditAccountNo')}" th:errors="*{creditAccountNo}"/>
                                        <span th:unless="${#fields.hasErrors('creditAccountNo')}">
                                                <span th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}"/>
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="creditAccountNo" class="col-sm-2 col-form-label">Ontvanger</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="namer" th:field="*{name}" placeholder="Voer de naam van de ontvanger in" onfocusout="matchName()">
                                <div class = "text-danger form-error" id="nameErrors">
                                    <small>
                                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                                    </small>
                                </div>
                                <div class ="text-success d-none" id="nameMessage">
                                    <small>
                                        Tenaamstelling automatisch aangevuld
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="message" class="col-sm-2 col-form-label">Betalingskenmerk</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="message" name="message" th:field="*{message}" placeholder="Voer een betalingskenmerk of mededeling in">
                                <div class = "text-danger form-error">
                                    <small>
                                        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"/>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input class="btn btn-outline-dark" type="submit" value="Bevestigen">
                                <input class="btn btn-outline-dark" type="button" value="Annuleren" onclick="location.href='accountPage'">
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
        // Check whether name matches to the supplied account number
        function matchName() {
            let creditAccountNo = document.getElementById("creditAccountNo").value.trim();
            let name = document.getElementById("name").value.trim();

            // Return false if credit account is empty
            if (creditAccountNo == "") {
                return false;
            }

            // Remove any old errors
            document.getElementById("nameErrors").classList.add("d-none");
            // Create fetch URL
            let url = `/transfer-name-checks/${creditAccountNo}/${name}`

            // Handle request
            fetch(url)
            .then(response => response.json())
            .then(jsonObject => {
                // If a match is found, fill in suggested name and display a message
                if (jsonObject.suggestedName != null) {
                    document.getElementById("name").value = jsonObject.suggestedName;
                    document.getElementById("nameMessage").classList.replace("d-none", "d-block");
                }
            })
            .catch(function (error) {
                console.log(error)
            })
        }

        // Check if all fields are filled, show errors if not

    </script>
</body>
</html>