<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{styles.css}">

    <meta charset="UTF-8">
    <title>Overboeken</title>

</head>
<body>
    <div th:include="fragments/header :: header"></div>
    <div class="container">

        <div class="card">
            <div class="card-header"><h5>Overboeken</h5></div>
            <div class="card-body">

                <div class="transfer-account-data" id="accountData" th:object="${printAccountDataBean}">
                    <p>
                        <strong>Rekeningnummer:</strong> <span th:text="*{accountNo}"/><br>
                        <span th:if="*{typeAccount == 'SMEAccount'}">
                            <strong>Bedrijf:</strong> <span th:text="*{companyName}"/><br>
                        </span>
                        <span><strong>Rekeninghouder(s):</strong> <span th:each="name : *{holderNames}" th:text="${name + ' '}" /></span><br>
                        <strong>Saldo:</strong> € <span th:text="*{balance}"/><br>
                    </p>
                </div>


                <div id="inputTransferData">
                    <form method="post" th:action="@{transferPost}" th:object="${transferBean}">
                        <input type="hidden" th:field="*{accountBalance}">
                        <input type="hidden" th:field="*{debitAccountNo}">

                        <div class="form-group row">
                            <label for="creditAccountNo" class="col-sm-2 col-form-label">Rekeningnummer</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="creditAccountNo" name="creditAccountNo" th:field="*{creditAccountNo}" autofocus>
                                <div class = "text-danger form-error">
                                    <small>
                                        <span th:if="${#fields.hasErrors('creditAccountNo')}" th:errors="*{creditAccountNo}"/>
                                        <span th:unless="${#fields.hasErrors('creditAccountNo')}">
                                                <span th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}"/>
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="transferAmount" class="col-sm-2 col-form-label">Bedrag</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="transferAmount" name="transferAmountString" th:field="*{transferAmountString}">
                                <div class = "text-danger form-error">
                                    <small>
                                        <span th:if="${#fields.hasErrors('transferAmountString')}" th:errors="*{transferAmountString}"/>
                                        <span th:unless="${#fields.hasErrors('transferAmountString')}">
                                            <span th:if="${#fields.hasErrors('transferAmount')}" th:errors="*{transferAmount}"/>
                                            <span th:if="${#fields.hasErrors('sufficientFunds')}" th:errors="*{sufficientFunds}"/>
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="message" class="col-sm-2 col-form-label">Mededeling</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="message" name="message" th:field="*{message}">
                                <div class = "text-danger form-error">
                                    <small>
                                        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"/>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input class="btn btn-outline-dark" type="submit" value="Bevestigen">
                                <input class="btn btn-outline-dark" type="button" value="Annuleren" onclick="location.href='accountPage'">
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


</body>
</html>